/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    width: auto;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0 auto;
    background-color: pink;
}

img {
    display: block;
}

/* Header */

.profile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2vh 1vh;
    background-color: greenyellow;
} 

/* Left side header*/

.profile-image > img {
    border: 1vw #659f8f solid;
    border-radius: 50%;
    width: clamp(125px, 20vw, 250px);
    height: auto;
}

.profile-left {
    background-color: olive;
}

/* Right side header */

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: clamp(170px, 50vw, 800px);
    align-items: center;
    background-color: orange;
}

/* User settings */

.profile-user-settings {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.profile-user-name {
    font-weight: normal;
    font-size: clamp(10px, 3vw, 200px);
}

.profile-edit-btn {
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 2px;
    font-size: clamp(6px, 1vw,  17.5px);
    padding: 0.5em 0.75em;
    min-width: 46px;
    min-height: 15px;
    cursor: pointer;
}

.profile-settings-btn {
    border: none;
    background-color: #fafafa;
    font-size: clamp(7px, 2.5vw, 21px);
    cursor: pointer;
}

.profile-stats ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: clamp(7px, 1.25vw, 20px);
}

.profile-stats ul li {
    margin: 0 1vw;
}

/* Profile Bio */
.profile-bio {
    font-size: clamp(5px, 1vw, 20px);
}

/* Bold Font */
.profile-stat-count,
.profile-real-name,
.visually-hidden {
    font-weight: bold;
}

/* Grid */

.gallery {
    display: grid;
    width: clamp(300px, 75vw, 1100px);
    margin: auto;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vh 1vh;
}

.gallery-item {
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.gallery-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Icons */

.gallery-item-type {
    position: absolute;
    top: 0;
    right: 0;
    color: #fafafa;
}

.visually-hidden {
    display: none;
}

.gallery-item-type .fa-clone {
    font-size: 3vw;
    padding: 2vw;
}

/* Inside grid */

.gallery-item-info > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.gallery-item-info {
    position: absolute;
    color: #fafafa;
    font-size: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
}

.gallery-item:hover .gallery-item-info {
        opacity: 1;
}

.gallery-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #262626;
    opacity: 0;
}

.gallery-item:hover::before {
    opacity: 0.5;
}

/* Loader */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.loader::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: transparent 8px solid;
    border-top: #659f8f 8px solid;
    border-radius: 50%;
    animation: spinner 0.5s infinite linear;
}

@keyframes spinner {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
    
}

/* Check screen sizes */

@media all and (max-width: 319px) {
    body {
        background-color: red;
    }
}
@media all and (min-width: 1368px) {
    body {
        background-color: red;
    }
}